:root {
  --main-color: rgb(167, 167, 255);
  --grey-color: rgb(53, 53, 53);
  --grey-color-light: rgb(135, 135, 135);
  --grey-color-xlight: rgb(249, 249, 249);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  color: var(--grey-color);
}

@media (max-width: 1120px) {
  html {
    font-size: 90%;
  }
}

@media (max-width: 1036px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 626px) {
  html {
    font-size: 65%;
  }
}
